.container.col-md-8
  .panel.panel-default
    .panel-heading
      %h2
        {{dish.name}}
    .panel-body
      .row
        %label.col-md-2.control-label Група
        .col-md-6
          {{dish.dish_group.name}}
      .row
        %label.col-md-2.control-label Вага
        .col-md-6
          {{dish.total_weight * 1000}} г
      .row
        %label.col-md-2.control-label Цiна
        .col-md-6
          {{dish.price}} грн
      .row
        %table.table.table-striped.table-bordered
          %thead
            %tr.info
              %th
                Назва продукту
              %th
                Цiна, грн/кг(л)
              %th
                Кiлькiсть, г(мл)
          %tbody
            %tr(ng-repeat="ingredient in ingredients")
              %td
                {{ingredient.food.name}}
              %td
                {{ingredient.food.price}}
              %td
                {{ingredient.quantity * 1000}}
  %buttton.btn.btn-warning.btn-lg(ng-click="edit()")
    %i.glyphicon.glyphicon-pencil
    Редагувати
  %buttton.btn.btn-danger.btn-lg(ng-click="delete()")
    %i.glyphicon.glyphicon-trash
    Видалити
